.hero-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;

  @media (min-width: 1200px) {
    width: 65%;
    margin: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    padding: 60px 20px;
    font-size: 1rem;

    h1 {
      font-size: 2rem;
    }

    p {
      margin: 50px 0;
      line-height: 24px;
    }
  }
}
