<div class="form-container">
  <h1>{{ isEditMode ? "Edit" : "Create" }} a hero</h1>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Enter your hero name</mat-label>
      <input appUppercase matInput placeholder="hero name" formControlName="name" required />
      <mat-error *ngIf="isInvalidField('name')"
        >Name must be between 3 and 20 characters.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="description-box">
      <mat-label>Enter a short description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="isInvalidField('description')"
        >Description must be between 20 and 100 characters.</mat-error
      >
    </mat-form-field>

    <div class="buttons">
      <button (click)="redirectToDashboard()" mat-raised-button color="primary">
        Cancel
      </button>
      <button mat-raised-button color="accent" [disabled]="!form.valid">
        Save
      </button>
    </div>
  </form>
</div>
